<table>
<tr>
    <td><a href="/repo/[% repo_id %]">[% repo_id %]</a></td>
    <td><a href="/repo/[% repo_id %]/branch/[% branch_id %]">[% branch_id %]</a></td>
    <td>[% IF tree_comp.size > 0 %][% tree_comp.join('/') %][% ELSE %]/[% END %]</td>
</tr>
</table>
