<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/gitcat.css" />
</head>
<body>
<div class="page_header">
<a>[% page.title %]</a>
</div>

<div class="page_body">
[% content %]
</div>

<div class="page_footer">
Gitter
</div>
</body>
</html>
